

<div class="container">
  <div class="row">

    <div class="col-12">
      <h1 class="text-center mt-4 title">To Do List</h1>
      <div class="row" id="tasks"></div>
    </div>
  </div>

  <div class="row control">
    <input type = 'textarea' class="newTask">
    <button class="add">Add new Task </button>
    <label for="all">Show All</label>
    <input type = "radio" class="all select" name="select" checked>
    <label for="active">Show Active</label>
    <input type = "radio" class="active select" name="select">
    <label for="completed">Show Completed</label>
    <input type = "radio" class="completed select" name="select">
  </div>

 
</div>